@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fbe9e7;
}
.card{
    position: relative;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 300px; height: 400px;
    background: #fff;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    box-shadow: 10px 20px 40px rgba(0,0,0,0.25);
    transition: 1s;
}
.card:hover {
    transform: translateX(50%);
}
.card .imgBox {
    position: relative;
    width: 100%; height: 100%;
    z-index: 1;
    transform-origin: left;
    transform-style: preserve-3d;
    background: #000;
    transition: 1s;
    box-shadow: 10px 20px 40px rgba(0,0,0,0.25);
}
.card:hover .imgBox {
    transform: rotateY(-180deg);

}
.card .imgBox img {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
    
}
.card .details{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .details .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card .details .content h2 {
    text-align: center;
    font-weight: 700;
    line-height: 1em;

}
.card .details .content h2 span {
    color: red;
    font-size: 0.8em;
}
.card .details .content .social-icons {
    position: relative;
    display: flex;
    margin-top: 10px;
}
.card .details .content .social-icons a {
    display: inline-block;
    width: 35px; height: 35px;
    background: #fff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 5px;
    font-size: 18px;
    transition: 0.2s;
    border-radius: 5px;
}
.card .details .content .social-icons a:hover {
    background: red;
}
